$height-of-last: $gutter;

.big-numbers {
  position: relative;

  flex-wrap: wrap;

  width: 100%;
  min-height: 12.5rem;
  margin-top: 2rem;
  margin-bottom: $gutter;

  text-align: center;

  @media screen and (min-width: breakpoint('tablet')) {
    display: flex;

    justify-content: center;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    justify-content: space-between;

    text-align: left;
  }

  &::after {
    content: '';
    flex: auto;
        order: 5;
  }
}

.big-numbers__wrapper .big-number__warning,
.big-numbers__wrapper .big-number__update {
  font-size: ms(-2);
}

.big-number__box {
  display: flex;

  flex-direction: column;

  margin-bottom: $gutter * 3;

  border-bottom: 1px solid palette('gray', 'light');

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(50% - 2rem);

    border-bottom: 0;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    order: 4;

    width: calc(33.3333% - 2rem);
  }
}

.big-number__box br {
  display: none; // to prevent bugs on flex at Webkit/blink
}

.big-number__box p {
  margin-bottom: 0;
}

.big-number__box span {
  text-align: right;
}

.big-number__box--border {
  margin-top: 0.5rem;
}

.big-number__box--border h1 {
  position: relative;

  &::before {
    position: absolute;
    top: -0.5rem;

    width: 4.5rem;
    height: 0.25rem;

    content: '';

    border-radius: 10px;
  }
}

.big-number__box--border-secondary h1 {
  &::before {
    background-color: palette('main-colors', 'secondary');
  }
}

.big-number__box--border-tertiary h1 {
  &::before {
    background-color: palette('main-colors', 'tertiary');
  }
}

.big-number__box--border-quaternary h1 {
  &::before {
    background-color: palette('main-colors', 'quaternary');
  }
}

.big-numbers h1 {
  margin-top: 0;

  font-size: ms(2);
  line-height: 1.2;
  text-transform: uppercase;
}

.big-numbers p {
  font-size: ms(-1);
  color: palette('gray', 'medium');
}

.big-number small {
  opacity: 0.65;
}

.big-number__number {
  margin-top: auto;

  font-size: ms(6);
  font-weight: font-weight('bold');

  &:last-child {
    margin-bottom: $height-of-last;
  }
}

.big-number__not-so-big {
  font-size: ms(2);
  font-weight: font-weight('bold');

  line-height: $height-of-last;
  height: $height-of-last;
}

.big-number__not-so-big small {
  font-size: ms(-3);
  font-weight: font-weight('normal');
  color: palette('gray', 'medium');
}

.big-number__number span {
  font-size: ms(-8);
  font-style: normal;
  font-weight: font-weight('normal');
  color: palette('gray', 'medium');
  text-transform: uppercase;
}

.big-number__math-sign {
  color: palette('main-colors', 'quaternary');
  font-weight: normal;
}

.big-number__dividend {
  margin-top: auto;

  font-size: ms(6);
  font-weight: font-weight('bold');
}

.big-number__divisor {
  color: palette('gray', 'medium');
}

.big-number__quotient {
  font-size: ms(2);
  font-weight: font-weight('bold');
  display: flex;
  color: palette('gray', 'medium');

  align-items: baseline;
  justify-content: right;

  border-top: 1px solid palette('main-colors', 'tertiary');
}

.big-number__quotient output,
.big-number__quotient small {
  font-weight: font-weight('normal');
  color: palette('gray', 'medium');
}

.big-number__quotient output {
  display: inline;

  flex-grow: 1;

  padding: 0;
  margin-right: 0.25em;

  font-size: ms(2);
  font-weight: font-weight('bold');
}

.big-number__quotient .big-number__math-sign + output {
  flex-grow: 0;

  margin-left: 0.25em;
}

.big-number__quotient small {
  display: inline-block;

  flex-shrink: 1;

  overflow: hidden;

  font-size: ms(-3);
  text-overflow: ellipsis;

  &:last-child {
    margin-left: 0.25em;
  }
}

.big-number__box--icon h1 {
  display: inline-block;

  &::before {
    display: inline-block;

    width: 0.725rem;
    height: 1.75rem;
    margin-right: 0.5rem;

    vertical-align: text-bottom;

    content: '';

    background-size: contain;
  }
}

.big-number__box--icon-total h1 {
  &::before {
    width: 1.55rem;

    background-image: image('logo.svg');
  }
}

.big-number__box--icon-female h1 {
  &::before {
    background-image: image('icons/female.svg');
  }
}

.big-number__box--icon-male h1 {
  &::before {
    background-image: image('icons/male.svg');
  }
}
