@use "modularscale-sass/stylesheets/modularscale/sugar";
@use "../abstracts/font-stacks";
@use "../abstracts/functions";

.button {
  display: inline-flex;

  padding: 0.2rem 1.2rem;

  font-family: font-stacks.$monteserrat-font-stack;
  font-size: sugar.ms(-2);
  font-weight: functions.font-weight('bold');
  color: functions.palette('white');
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;

  background: functions.palette('main-colors', 'secondary');
  border: 0;
  border-radius: 6px;
}

.button--primary {
  background: functions.palette('main-colors', 'primary');
}

.button--big {
  align-self: flex-start;
  justify-content: center;

  width: 100%;
  padding: 0.5rem 1rem;

  font-size: sugar.ms(0);

  background: functions.palette('main-colors', 'primary');

  @media screen and (min-width: functions.breakpoint('tablet')) {
    max-width: 27rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.button--medium {
  align-self: flex-start;
  justify-content: center;

  max-width: 18rem;
  padding: 0.5rem 1rem;

  font-size: sugar.ms(0);

  background: functions.palette('main-colors', 'primary');

  @media screen and (min-width: functions.breakpoint('tablet')) {
    margin-right: auto;
    margin-left: auto;
  }
}

.button--icon {
  display: flex;

  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;

  color: functions.palette('main-colors', 'secondary');

  background-color: transparent;
  border: 1px solid functions.palette('main-colors', 'secondary');

  &::before {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;

    content: '';

    background-size: cover;
  }
}

.button--icon-share {
  &::before {
    background-image: functions.image('icons/share.svg');
  }
}

.button--icon-money {
  &::before {
    background-image: functions.image('icons/money.svg');
  }
}
