@use 'modularscale-sass/stylesheets/modularscale/sugar';
@use '../abstracts/functions';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.jumbotron {
  width: 100%;

  text-align: center;

  @media screen and (min-width: functions.breakpoint('desktop')) {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.jumbotron h1 {
  margin-top: variables.$gutter * 0.5;
  margin-bottom: variables.$gutter * 0.5;

  font-size: sugar.ms(5);
  line-height: 1.2;
  letter-spacing: -0.05ex;
}

.jumbotron__year-selector {
  display: inline-block;

  margin-bottom: variables.$gutter;

  font-size: sugar.ms(10);
  font-weight: functions.font-weight('bold');
  line-height: 1;
  color: functions.palette('main-colors', 'primary');
  white-space: nowrap;

  select {
    font: inherit;
    color: inherit;

    background-color: transparent;
    border-color: functions.palette('main-colors', 'secondary');
    border-style: solid;
    border-width: 0 0 1px;
  }

  &::before,
  &::after {
    box-sizing: content-box;
    display: inline-block;

    width: 4.5rem;
    max-width: 15%;
    height: 0.5rem;
    margin-right: 0.25em;
    margin-left: 0.25em;

    color: functions.palette('main-colors', 'quaternary');
    vertical-align: middle;

    content: '';

    background-color: currentcolor;
    border: 0.15rem solid functions.palette('main-colors', 'tertiary');
    border-radius: 10px;
  }
}

.jumbotron__year-selector-label {
  @include mixins.visually-hidden;
}

.jumbotron [class*='pay-attention-to'] {
  font-size: sugar.ms(-1);
  text-align: inherit;
}
