@use "../vendor/modularscale-sass/sugar";

.no-results {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: sugar.ms(1);
  text-align: center;
}

.no-results img {
  max-width: 28.75rem;
  margin-bottom: 2rem;
}
