%pay-attention-to {
  max-width: map-get($line-lengths, 'max');
  margin-right: 0;
  margin-left: auto;

  text-align: right;

  orphans: 3;
  widows: 3;

  &::before {
    display: inline-block;

    width: 1.5em;
    height: 1.5em;

    font-family: $alt-font-stack;
    font-weight: font-weight('bold');
    text-align: center;

  }
}

.pay-attention-to__warning {
  $fg-color: palette('label', 'warning');
  $bg-color: palette('white');

  @extend %pay-attention-to;

  color: text-contrast($bg-color, $fg-color, $level: 'AA');

  &::before {
    font-style: italic;
    color: $bg-color;

    content: 'i';

    background-color: $fg-color;
    border-radius: 100%;
  }
}

.pay-attention-to__danger {
  $fg-color: palette('label', 'danger');
  $bg-color: palette('white');

  @extend %pay-attention-to;

  color: text-contrast($bg-color, $fg-color, $level: 'AA');

  &::before {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    color: $bg-color;

    content: '!';

    background-color: $fg-color;
  }
}
