@use "../vendor/modularscale-sass/sugar";
@use "../abstracts/functions";

progress {
  width: 100%;
  height: 0.5rem;
  margin-top: 1rem;

  border-radius: 7px;
}

progress::-webkit-progress-bar {
  width: 100%;

  background-color: functions.palette('gray', 'light');
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: functions.palette('main-colors', 'quaternary');
  border-radius: 7px;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
progress.progress__secondary::-webkit-progress-value {
  background-color: functions.palette('main-colors', 'secondary');
  border-radius: 7px;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
progress.progress__tertiary::-webkit-progress-value {
  background-color: functions.palette('main-colors', 'tertiary');
  border-radius: 7px;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
progress.progress__quartenary::-webkit-progress-value {
  background-color: functions.palette('main-colors', 'quaternary');
  border-radius: 7px;
}

.progress__helper {
  align-self: flex-end;

  margin-top: 0.5rem;

  font-size: sugar.ms(-3);
  color: functions.palette('gray', 'medium');
}
