@use "../vendor/modularscale-sass/sugar";
@use "../abstracts/functions";

.share-modal {
  // text-align: center;
}

.share-modal h1 {
  margin-top: 0;

  text-align: center;
}

.share-modal__content {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.share-modal__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.2rem;
  overflow: hidden;

  text-indent: -999em;

  background-position: center;
  background-size: 60%;
  border-radius: 50%;
}

.share-modal__icons--facebook {
  background-color: functions.palette('social', 'facebook');
  background-image: functions.image('icons/facebook.svg');
}

.share-modal__icons--twitter {
  background-color: functions.palette('social', 'twitter');
  background-image: functions.image('icons/twitter.svg');
}

.share-modal__icons--whatsapp {
  background-color: functions.palette('social', 'whatsapp');
  background-image: functions.image('icons/whatsapp.svg');
}

.share-modal__icons--telegram {
  background-color: functions.palette('social', 'telegram');
  background-image: functions.image('icons/telegram.svg');
}

.share-modal__input[type='text'] {
  display: flex;

  width: 100%;
  margin-top: 1rem;
}

.share-modal__input {
  display: flex;

  width: 100%;
  margin-top: 1rem;
}

.share-modal__input .button {
  align-items: center;
}

.share-modal__input input {
  width: 100%;
  padding: 0.2rem 0.3rem;
  margin-right: 0.5rem;

  font-size: sugar.ms(1);
}

.modal__footer {
  font-size: sugar.ms(-1);
}

.modal__footer input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}
