.ted {
  margin-bottom: 2.5rem;
}

.ted > iframe {
  display: block;

  width: 100%;
  max-width: 46rem;
  height: auto;
  aspect-ratio: 16 / 9;
  margin-right: auto;
  margin-left: auto;

  border-radius: var(--radius);
}
