@use "../vendor/modularscale-sass/sugar";
@use "../abstracts/functions";

form {
}

fieldset {
  padding: 0;

  border: 0;
}

legend {
  display: block;

  padding: 0;
}

.like-a__label,
form label {
  display: block;

  font-size: sugar.ms(-1);
  font-weight: inherit;
  color: functions.palette('gray', 'medium');
  text-transform: lowercase;
}

label {
  cursor: pointer;
}

form input,
form textarea {
  display: block;

  width: 100%;
  margin-bottom: 2rem;

  font-size: sugar.ms(1);
  color: functions.palette('black', 'lighter');

  cursor: text;

  background: transparent;
  border: 0;
  border-bottom: 1px solid functions.palette('black', 'opacity');

  @media screen and (min-width: functions.breakpoint('desktop')) {
    font-size: sugar.ms(3);
  }
}

form textarea {
  resize: vertical;
}

form .error-message {
  margin-top: -2rem;
  margin-bottom: 2rem;

  font-size: sugar.ms(-1);
  color: functions.palette('label', 'danger');
}

.response-message {
  padding: 0.51rem;

  color: functions.palette('white');

  border-radius: 7px;
}

.response-message--success {
  background-color: functions.palette('label', 'success');
}

.response-message--error {
  background-color: functions.palette('label', 'danger');
}
