form {
}

fieldset {
  padding: 0;

  border: 0;
}

legend {
  display: block;

  padding: 0;
}

.like-a__label,
form label {
  display: block;

  font-size: ms(-1);
  font-weight: inherit;
  color: palette('gray', 'medium');
  text-transform: lowercase;
}

label {
  cursor: pointer;
}

form input,
form textarea {
  display: block;

  width: 100%;
  margin-bottom: 2rem;

  font-size: ms(1);
  color: palette('black', 'lighter');

  cursor: text;

  background: transparent;
  border: 0;
  border-bottom: 1px solid palette('black', 'opacity');

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(3);
  }
}

form textarea {
  resize: vertical;
}

form .error-message {
  margin-top: -2rem;
  margin-bottom: 2rem;

  font-size: ms(-1);
  color: palette('label', 'danger');
}

.response-message {
  padding: 0.51rem;

  color: palette('white');

  border-radius: 7px;
}

.response-message--success {
  background-color: palette('label', 'success');
}

.response-message--error {
  background-color: palette('label', 'danger');
}
