$logo-size: 3.812rem;
$logo-top: 0.5rem;
$logo-left: 1.5rem;
$logo-size-desktop: 5.812rem;
$logo-left-desktop: calc(50% - 3.46rem);

.main-header {
  position: relative;
  z-index: layer('up');

  display: flex;

  align-items: center;
  justify-content: flex-end;

  height: 4rem;
  padding-top: 0.5rem;
  margin-bottom: 2rem;

  background-color: palette('white');
  box-shadow: 0 8px 21px -3px palette('shadow', 'light');

  &::before {
    position: absolute;
    top: $logo-top;
    left: $logo-left;
    z-index: layer('up');

    width: $logo-size;
    height: $logo-size;

    content: '';

    border-radius: 50%;
    box-shadow: 0 8px 21px -3px palette('shadow', 'light');

    @media screen and (min-width: breakpoint('desktop')) {
      left: $logo-left-desktop;

      width: $logo-size-desktop;
      height: $logo-size-desktop;
    }
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 5.825rem;
    padding-right: 0;
  }
}

.main-header .container {
  display: flex;

  justify-content: flex-end;
  // background-color: palette('white');
}

.main-header__logo {
  @include image-replacement;
  position: absolute;
  top: $logo-top;
  left: $logo-left;
  z-index: layer('up');

  width: $logo-size;
  height: $logo-size;
  margin-top: 0;
  margin-bottom: 0;

  background-image: image('logo.svg');
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 0 0 5px palette('white');

  @media screen and (min-width: breakpoint('desktop')) {
    left: $logo-left-desktop;

    width: $logo-size-desktop;
    height: $logo-size-desktop;
  }
}

.main-header .hamburger {
  display: inline-block;

  @media screen and (min-width: breakpoint('desktop')) {
    display: none;
  }
}

.main-header__links {
  position: absolute;
  top: -14rem;
  left: 0;
  z-index: layer('default');

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  width: 100%;
  padding: 1rem;

  background: palette('white');
  box-shadow: 0 8px 21px -3px palette('shadow', 'light');

  transition: top 0.3s;

  @media screen and (min-width: breakpoint('desktop')) {
    position: relative;
    top: auto;
    left: auto;

    justify-content: flex-end;

    width: auto;
    padding: 0;

    box-shadow: none;
  }
}

.main-header__links.is-active {
  top: 4rem;

  @media screen and (min-width: breakpoint('desktop')) {
    top: auto;
  }
}

.main-header .button {
  justify-content: center;

  width: 16.25rem;
  min-width: 6rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;

  @media screen and (min-width: breakpoint('desktop')) {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0.5rem;
  }
}
