.button {
  display: inline-flex;
  padding: 0.2rem 1.2rem;
  font-weight: font-weight('bold');
  font-size: ms(-2);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: palette('white');
  background: palette('main-colors', 'secondary');
  border: 0;
  border-radius: 72px;
}

.button--primary {
  background: palette('main-colors', 'primary');
}

.button--big {
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: ms(1);
  background: palette('main-colors', 'primary');

  @media screen and (min-width: breakpoint('tablet')) {
    max-width: 27rem;
    margin-right: auto;
    margin-left: auto;
  }
}
