.button {
  display: inline-flex;
  padding: 0.2rem 1.2rem;
  font-weight: font-weight('bold');
  font-size: ms(-2);
  font-family: $monteserrat-font-stack;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: palette('white');
  background: palette('main-colors', 'secondary');
  border: 0;
  border-radius: 72px;
}

.button--primary {
  background: palette('main-colors', 'primary');
}

.button--big {
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: ms(0);
  background: palette('main-colors', 'primary');

  @media screen and (min-width: breakpoint('tablet')) {
    max-width: 27rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.button--medium {
  align-self: flex-start;
  justify-content: center;
  max-width: 18rem;
  padding: 0.5rem 1rem;
  font-size: ms(0);
  background: palette('main-colors', 'primary');

  @media screen and (min-width: breakpoint('tablet')) {
    margin-right: auto;
    margin-left: auto;
  }
}

.button--icon {
  display: flex;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  color: palette('main-colors', 'secondary');
  background-color: transparent;
  border: 1px solid palette('main-colors', 'secondary');

  &::before {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    background-size: cover;
    content: '';
  }
}

.button--icon-share {
  &::before {
    background-image: image('share.svg');
  }
}

.button--icon-money {
  &::before {
    background-image: image('money.svg');
  }
}
