.candidates {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;

  @media screen and (min-width: breakpoint('desktop')) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-left: auto;
  }
}

.candidates__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: breakpoint('desktop')) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
}

.candidates h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: ms(3);
  line-height: 1.2;
  // text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: breakpoint('tablet')) {
    margin-bottom: 2rem;
  }
}

.candidates__subtitle {
  width: 100%;
}

.candidates__candidate {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;

  @media screen and (min-width: breakpoint('desktop')) {
    width: calc(33.3333333% - 1rem);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.candidates__image {
  width: 3rem;
  height: 4rem;
  margin-right: 1rem;
  background-color: palette('gray', 'light');
  box-shadow: 5px 8px 21px -3px palette('shadow', 'light');
}

.candidates__name {
  margin-bottom: 0;
  font-weight: font-weight('bold');
}

.candidates__info {
  width: 100%;
  font-size: ms(-2);
  color: palette('gray', 'medium');
}
