$logo-size: 3.812rem;
$logo-top: 0.5rem;
$logo-left: 1.5rem;
$logo-size-desktop: 5.812rem;
$logo-left-desktop: calc(50% - 3.46rem);

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 21px -3px palette('shadow', 'light');

  &::before {
    position: absolute;
    top: $logo-top;
    left: $logo-left;
    z-index: layer('below');
    width: $logo-size;
    height: $logo-size;
    border-radius: 50%;
    content: '';
    box-shadow: 0 8px 21px -3px palette('shadow', 'light');

    @media screen and (min-width: breakpoint('desktop')) {
      left: $logo-left-desktop;
      width: $logo-size-desktop;
      height: $logo-size-desktop;
    }
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 5.625rem;
    padding-right: 0;
  }
}

.main-header .container {
  display: flex;
  background-color: palette('white');
}

.main-header__logo {
  @include image-replacement;
  position: absolute;
  top: $logo-top;
  left: $logo-left;
  width: $logo-size;
  height: $logo-size;
  margin-top: 0;
  margin-bottom: 0;
  background-image: image('logo.svg');
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 0 0 5px palette('white');

  @media screen and (min-width: breakpoint('desktop')) {
    left: $logo-left-desktop;
    width: $logo-size-desktop;
    height: $logo-size-desktop;
  }

}

.main-header .button {
  margin-bottom: 0;
}
