.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
  box-shadow: 0 8px 21px -3px palette('shadow', 'light');

  @media screen and (min-width: breakpoint('desktop')) {
    align-items: stretch;
    justify-content: flex-start;
    padding-right: 0;
  }
}

.main-header__logo {
  position: relative;
  padding-top: 0.875rem;
  padding-right: 1.5rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  line-height: 1;
  background-color: palette('main-colors', 'primary');
  border-right: 6px solid palette('main-colors', 'secondary');

  @media screen and (min-width: breakpoint('desktop')) {
    padding: 1.25rem 1.5rem;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: -0.75rem;
    display: block;
    width: 0.375rem;
    height: 100%;
    background-color: palette('main-colors', 'tertiary');
    content: '';
  }

  &::after {
    right: -1.125rem;
    background-color: palette('main-colors', 'quaternary');
  }
}

.main-header__logo h1 {
  @include image-replacement;
  width: 5.625rem;
  padding-left: 1rem;
  margin: 0;
  background-image: image('logo.svg');
  background-position: center;
  background-size: contain;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 7.812rem;
    height: 2.5rem;
  }

}

.main-header__nav .hamburger {
  @media screen and (min-width: breakpoint('desktop')) {
    display: none;
  }
}

.main-header__menu-area {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  background-color: palette('white');
  box-shadow: 0 8px 21px -3px palette('shadow', 'light');
  transition: top 0.5s;

  &.is-active {
    top: 3rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    position: relative;
    top: auto;
    display: block;
    padding-top: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.main-header__menu-area .container {
  @media screen and (min-width: breakpoint('desktop')) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.main-header__update {
  font-size: ms(-2);
  color: palette('gray', 'dark');

  @media screen and (min-width: breakpoint('desktop')) {
    width: 100%;
    font-size: ms(-3);
    line-height: 1;
  }
}

.main-header__menu-area ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  list-style-type: none;

  @media screen and (min-width: breakpoint('desktop')) {
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.main-header__menu-area a {
  text-transform: uppercase;
  color: palette('main-colors', 'primary');

  &.active {
    font-weight: font-weight('bold');
  }

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(1);
  }
}
