<footer class="footer">
  <div class="container">
    <div class="footer__col">
      <div class="footer__logo"></div>
    </div>

    <div class="footer__col">
      <p>{{ i18n "footerDescription" }}</p>
      <p>{{ i18n "footerCall" }}</p>
    </div>

    <div class="footer__col">
      <address>
        <a href="mailto:{{ .Site.Params.contactEmail }}">{{ .Site.Params.contactEmail }}</a>
      </address>

      {{ with $.Site.Data.socialMedia }}
        <style>
          {{ range .list }}
            {{ if .svg }}
              .{{ .name }} {
                background-image: url("{{ .svg }}");
              }
            {{ end }}
          {{ end }}
        </style>

        <ul class="social">
          {{ range .list }}
            <li>
                <a href="{{ .url }}" title="{{ .name }}" rel="noopener" class="{{ .name }}">
                </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <span class="footer__developed-by">
      {{ i18n "developedBy" }}
    </span>
  </div>
</footer>
