<header class="main-header">
  <div class="container">
    <h1 class="main-header__logo">{{ .Site.Params.name }}</h1>

    <button class="hamburger hamburger--squeeze js-menu-toggle" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="main-header__links js-menu-area">
      {{ $firstUrlElement := print "/" (index (split .URL "/") 1)  }}

      {{ with .Site.Menus.header }}
        {{ range . }}
          <a
            class="button"
            href="{{ .URL }}"
            target="_blank">
              {{ .Name }}
          </a>
        {{ end }}
      {{ end }}

      {{ with $.Site.Data.socialMedia }}
        <ul class="social social--header">
          {{ range .list }}
            <li>
              <a href="{{ .url }}" title="{{ .name }}" rel="noopener" class="{{ .name }}" target="_blank">
                {{ .name }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>

</header>

<div class="outdated" :hidden="!dataIsOutdated">
  <div class="container">
    <p>
      {{ i18n "oldInfo" }}
      <span v-if="mainData">{{ " {{ epochToHuman(mainData.epoch) }}" }}</span>
      {{ i18n "oldInfoUpdate" | safeHTML }}
    </p>
    <button
      @click="closeWarning"
      aria-label="{{ i18n "closeWarning" }}"
      class="outdated__close">
    </button>
  </div>
</div>
