<div class="parties">
  <h1>{{ i18n "partiesListing" }}</h1>
  <div class="parties__item">
    <img class="parties__image" src="https://www.placecage.com/400/300" alt="">
    <div class="parties__text">
      <p class="parties__name">
        Partido dos Trabalhadores (PT)
      </p>
      <p class="parties__info">
        Previsto R$ 2,9 milhões
      </p>
      <progress class="progress" max="100" value="5">5%</progress>
      <span class="progress__helper">
        10% distribuidos
      </span>
    </div>
  </div>
  <div class="parties__item">
    <img class="parties__image" src="https://www.placecage.com/400/300" alt="">
    <div class="parties__text">
      <p class="parties__name">
        Partido dos Trabalhadores (PT)
      </p>
      <p class="parties__info">
        Previsto R$ 2,9 milhões
      </p>
      <progress class="progress" max="100" value="5">5%</progress>
      <span class="progress__helper">
        10% distribuidos
      </span>
    </div>
  </div>
  <div class="parties__item">
    <img class="parties__image" src="https://www.placecage.com/400/300" alt="">
    <div class="parties__text">
      <p class="parties__name">
        Partido dos Trabalhadores (PT)
      </p>
      <p class="parties__info">
        Previsto R$ 2,9 milhões
      </p>
      <progress class="progress" max="100" value="5">5%</progress>
      <span class="progress__helper">
        10% distribuidos
      </span>
    </div>
  </div>



  <button class="button button--big">{{ i18n "seeMore" }}</button>
</div>
