    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <main id="vueHome">
        <div class="container">
          <div class="big-numbers" v-if="!this.loadingBigNumbers">
            <div class="big-number__box">
              <h1>Valor Total Acumulado dos Repasses</h1>
              <p>Quantidade de Lançamentos: {{ "{{ mainData.accumulated.total_transfers }}" }}</p>
              <span class="big-number__number" v-html="formatCurrency(mainData.accumulated.total_value)"></span>
              <progress class="progress__quartenary" max="100" value="10">10%</progress>
              <span class="progress__helper">
                10% distribuidos
              </span>
            </div>

            <div class="big-number__box">
              <h1>Valor acumulado de repasses do Fundo Especial de Financiamento de Campanhas (FEFC)</h1>
              <p>Quantidade de Lançamentos: {{ "{{ mainData.accumulated.transfers_special_fund }}" }}</p>
              <span class="big-number__number" v-html="formatCurrency(mainData.accumulated.value_special_fund)">
              </span>
              <progress class="progress__tertiary" max="100" value="10">10%</progress>
              <span class="progress__helper">
                10% distribuidos
              </span>
            </div>

            <div class="big-number__box">
              <h1>Valor acumulado dos repasses do Fundo Partidário</h1>
              <p>Quantidade de Lançamentos: {{ "{{ mainData.accumulated.transfers_party_fund }}" }}</p>
              <span class="big-number__number" v-html="formatCurrency(mainData.accumulated.value_party_fund)">
              </span>
              <progress class="progress__secondary" class="progress__tertiary" max="100" value="10">10%</progress>
              <span class="progress__helper">
                10% distribuidos
              </span>
            </div>

            <div class="big-number__box big-number__timer">
              <h1>Dias Restantes</h1>
              <div class="timer__numbers">
                <span>44<i>dias</i></span>
                <span>10<i>horas</i></span>
                <span>42<i>minutos</i></span>
                <span>59<i>segundos</i></span>
              </div>
            </div>
          </div>

          <button data-micromodal-trigger="share-modal">Compartilhar</button>

          <div class="filters">
            <button class="filters__toggle" @click="toggleFilter">
              <h1>{{ i18n "filters" }}</h1>
              <span
                v-if="filterOpen"
                class="filters__dropdown">
                {{ i18n "closeFilters" }}
              </span>
              <span
                v-else="filterOpen"
                class="filters__dropdown">
                {{ i18n "openFilters" }}
              </span>
            </button>

            <div class="filters__items" :hidden="!filterOpen">
              <form action="" @submit.prevent="updateData">
                <select
                  id="states"
                  name="states"
                  v-model="selectedState"
                  @change="selectedCity = null">
                  <option :value="null">{{ i18n "allStates" }}</option>
                  <option
                    v-for="state in states"
                    :value="state">
                      {{ "{{ state.name }}" }}
                  </option>
                </select>
                <select
                  id="cities"
                  name="cities"
                  v-model="selectedCity">
                  <option :value="null" selected>{{ i18n "allCities" }}</option>
                  <option
                    :value="null"
                    v-if="selectedState === null"
                    disabled>
                    Selecione o estado
                  </option>
                  <option
                    v-for="city in cities"
                    :value="city">
                      {{ "{{ city.name }}" }}
                  </option>
                </select>
                <select
                  id="parties"
                  name="parties"
                  v-model="selectedParty">
                  <option :value="null">{{ i18n "allParties" }}</option>
                  <option
                    v-for="party in parties"
                    :value="party">
                      {{ "{{ party.name }}" }}
                  </option>
                </select>
                <select
                  id="funds"
                  name="funds"
                  v-model="selectedFund">
                  <option :value="null">{{ i18n "allFunds" }}</option>
                  <option
                    v-for="fund_type in fund_types"
                    :value="fund_type">
                      {{ "{{ fund_type.name }}" }}
                  </option>
                </select>
                <select
                  id="etinicity"
                  name="etinicity"
                  v-model="selectedRace">
                  <option :value="null">{{ i18n "allEtinicity" }}</option>
                  <option
                    v-for="race in races"
                    :value="race">
                      {{ "{{ race.name }}" }}
                  </option>
                </select>
                <button class="button button--primary">{{ i18n "apply" }}</button>
              </form>
            </div>
            <p>{{ i18n "checkFound" }}</p>
            <div id="js-main-chart" class="main-chart"></div>
          </div>

          <div class="big-numbers" :aria-busy="this.loadingChartData">
            <div class="big-number__box big-number__box--icon big-number__box--icon-total">
              <h1>Total de repasses distribuido</h1>
              <p>Montante referente ao Fundo Especial e Partidário do Território Nacional</p>
              <span class="big-number__number" v-html="chartTotal"></span>
            </div>

            <div class="big-number__box big-number__box--icon big-number__box--icon-female">
              <h1>Distribuição do recurso para o gênero feminino</h1>
              <p>Montante referente ao Fundo Especial e Partidário do Território Nacional</p>
              <span class="big-number__number" v-html="chartFemale"></span>
            </div>

            <div class="big-number__box big-number__box--icon big-number__box--icon-male">
              <h1>Distribuição do recurso para o gênero masculino</h1>
              <p>Montante referente ao Fundo Especial e Partidário do Território Nacional</p>
              <span class="big-number__number" v-html="chartMale"></span>
            </div>
          </div>

          <div class="twitter">
            <h1>{{ .Site.Params.name }} {{ i18n "onTweeter" }}</h1>
            <a
              class="twitter-timeline"
              href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw"
              data-tweet-limit="3"
            >
              Tweets by TwitterDev
            </a>

            <a class="button button--big" href="">
              {{ i18n "follow" }} {{ .Site.Params.name }} {{ i18n "onTweeter" }}
            </a>
          </div>

          <div class="candidates" id="js-candidate-box">
            <h1>
              {{ i18n "candidatesListing" }}
              {{ "{{ selectedLocaleText }}" }}
            </h1>
            <div
              :aria-busy="loadingCandidates"
              class="candidates__container">
              <template v-if="candidates && candidates.candidates.length > 0">
                <div
                  v-for="candidate in candidates.candidates"
                  class="candidates__candidate">
                  <img class="candidates__image" src="https://www.placecage.com/400/300" :alt="candidate.name">
                  <div class="candidates__text">
                    <p class="candidates__name">
                      {{ "{{ candidate.name }}" }}
                      {{ " - {{ candidate.party.acronym ? candidate.party.acronym : candidate.party.name }}" }}
                      {{ " - concorre à {{ candidate.position.name }}" }}
                    </p>
                    <p class="candidates__info">
                      {{ "{{ candidate.total_transfers }}" }} transferências
                    </p>
                    <a href="tse" class="button">{{ i18n "seeOnTSE" }}</a>
                  </div>
                </div>
              </template>
              <div
                v-else
                class="no-results">
                <p>Sem resultados!</p>
              </div>

              <button
                v-if="candidates && candidates.has_more"
                @click="getCandidates(true)"
                class="button button--big">
                {{ i18n "seeMore" }}
              </button>
            </div>
          </div>

          <div class="partners">
            <h2>{{ i18n "partnersAndOrganizations" }}</h2>

            {{ range where .Site.RegularPages ".Type" "partners" }}
              <img src="{{ .Params.image }}" alt="{{ .Title }}">
            {{ end }}
          </div>
        </div>

        <div class="modal micromodal-slide modal-share" id="share-modal" aria-hidden="true">
          <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="share-modal-title">
              <header class="modal__header">
                <h1>Compartilhar!</h1>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
              </header>
              <main class="modal__content" id="share-modal-content">
                <div class="modal-share">
                  <a href="" class="modal-share__facebook">Facebook</a>
                  <a href="" class="modal-share__twitter">Twitter</a>
                  <a href="" class="modal-share__whatsapp">WhatsApp</a>
                  <a href="" class="modal-share__telegram">Telegram</a>
                  <div class="modal-share__input">
                    <input
                      :value="shareURL"
                      id="js-share-url"
                      type="text"
                      class="modal-share__input-text"
                      readonly>
                    <button
                      @click="copyShareURL"
                      class="modal-share__input-button">
                      Copiar!
                    </button>
                    <span v-show="shareURLCopied">Link copiado!</span>
                  </div>
                </div>
              </main>
              <footer class="modal__footer">
                <label for="share-date">
                  <input
                    v-model="epoch"
                    type="checkbox"
                    name="time"
                    id="share-date">
                  Compartilhar dados de <span v-if="mainData">{{ "{{ epochToHuman(mainData.epoch) }}" }}</span>
                </label>
              </footer>
            </div>
          </div>
        </div>

      </main>

      {{ partial "footer.html" . }}


      <script>
        {{ $filters := getJSON "https://dev-h72-api.appcivico.com/v1/filters" }}
        window.appFilters = {{ $filters.filters }};
      </script>

      {{ partial "scripts.html" . }}

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
      <!-- <script src="https://code.highcharts.com/modules/series&#45;label.js"></script> -->
      <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
      <!-- <script src="https://code.highcharts.com/modules/export&#45;data.js"></script> -->
      <!-- <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->

    </body>
</html>
