    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <main id="vueHome">
        <div class="container">
          <div class="big-numbers">
            <div class="big-number__box">
              <h1>Valor Total Acumulado dos Repasses</h1>
              <p>Quantidade de Lançamentos: 29869</p>
              <span class="big-number__number">
                R$2,85 <i>Bilhões</i>
              </span>
              <progress class="progress__quartenary" max="100" value="10">10%</progress>
              <span class="progress__helper">
                10% distribuidos
              </span>
            </div>

            <div class="big-number__box">
              <h1>Valor acumulado de repasses do Fundo Especial de Financiamento de Campanhas (FEFC)</h1>
              <p>Quantidade de Lançamentos: 29869</p>
              <span class="big-number__number">
                R$2,85 <i>Bilhões</i>
              </span>
              <progress class="progress__tertiary" max="100" value="10">10%</progress>
              <span class="progress__helper">
                10% distribuidos
              </span>
            </div>

            <div class="big-number__box">
              <h1>Valor acumulado dos repasses do Fundo Partidário</h1>
              <p>Quantidade de Lançamentos: 29869</p>
              <span class="big-number__number">
                R$2,85 <i>Bilhões</i>
              </span>
              <progress class="progress__secondary" class="progress__tertiary" max="100" value="10">10%</progress>
              <span class="progress__helper">
                10% distribuidos
              </span>
            </div>

            <div class="big-number__box big-number__timer">
              <h1>Dias Restantes</h1>
              <div class="timer__numbers">
                <span>44<i>dias</i></span>
                <span>10<i>horas</i></span>
                <span>42<i>minutos</i></span>
                <span>59<i>segundos</i></span>
              </div>
            </div>
          </div>

          <div class="filters">
            <button class="filters__toggle" @click="toggleFilter">
              <h1>{{ i18n "filters" }}</h1>
              <span
                v-if="filterOpen"
                class="filters__dropdown">
                {{ i18n "closeFilters" }}
              </span>
              <span
                v-else="filterOpen"
                class="filters__dropdown">
                {{ i18n "openFilters" }}
              </span>
            </button>
            <div class="filters__items" :hidden="!filterOpen">
              <form action="">
                <select
                  id="states"
                  name="states"
                  v-model="selectedState"
                  @change="selectedCity = null">
                  <option value="null">{{ i18n "allStates" }}</option>
                  <option
                    v-for="state in states"
                    :value="state.id">
                      {{ "{{ state.name }}" }}
                  </option>
                </select>
                <select
                  id="cities"
                  name="cities"
                  v-model="selectedCity">
                  <option value="null" selected>{{ i18n "allCities" }}</option>
                  <option
                    v-for="city in cities"
                    :value="city.id">
                      {{ "{{ city.name }}" }}
                  </option>
                </select>
                <select
                  id="parties"
                  name="parties"
                  v-model="selectedParty">
                  <option value="null">{{ i18n "allParties" }}</option>
                  <option
                    v-for="party in parties"
                    :value="party.id">
                      {{ "{{ party.name }}" }}
                  </option>
                </select>
                <select
                  id="funds"
                  name="funds"
                  v-model="selectedFund">
                  <option value="null">{{ i18n "allFunds" }}</option>
                  <option
                    v-for="fund_type in fund_types"
                    :value="fund_type.id">
                      {{ "{{ fund_type.name }}" }}
                  </option>
                </select>
                <select
                  id="etinicity"
                  name="etinicity"
                  v-model="selectedRace">
                  <option value="null">{{ i18n "allEtinicity" }}</option>
                  <option
                    v-for="race in races"
                    :value="race.id">
                      {{ "{{ race.name }}" }}
                  </option>
                </select>
                <button class="button button--primary">{{ i18n "apply" }}</button>
              </form>
            </div>
            <p>{{ i18n "checkFound" }}</p>
            <div id="js-main-chart" class="main-chart"></div>
          </div>

          <div class="big-numbers">
            <div class="big-number__box">
              <h1>Total de repasses distribuido</h1>
              <p>Montante referente ao Fundo Especial e Partidário do Território Nacional</p>
              <span class="big-number__number">
                R$2,85 <i>Milhões</i>
              </span>
            </div>

            <div class="big-number__box">
              <h1>Total de repasses distribuido</h1>
              <p>Montante referente ao Fundo Especial e Partidário do Território Nacional</p>
              <span class="big-number__number">
                R$2,85 <i>Milhões</i>
              </span>
            </div>

            <div class="big-number__box">
              <h1>Total de repasses distribuido</h1>
              <p>Montante referente ao Fundo Especial e Partidário do Território Nacional</p>
              <span class="big-number__number">
                R$2,85 <i>Milhões</i>
              </span>
            </div>
          </div>

          <div class="twitter">
            <h1>{{ .Site.Params.name }} {{ i18n "onTweeter" }}</h1>
            <a
              class="twitter-timeline"
              href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw"
              data-tweet-limit="3"
            >
              Tweets by TwitterDev
            </a>

            <a class="button button--big" href="">
              {{ i18n "follow" }} {{ .Site.Params.name }} {{ i18n "onTweeter" }}
            </a>
          </div>

          <div class="candidates">
            <h1>{{ i18n "candidatesListing" }}</h1>
            {{ range seq 9 }}
              <div class="candidates__candidate">
                <img class="candidates__image" src="https://www.placecage.com/400/300" alt="Bruno Covas">
                <div class="candidates__text">
                  <p class="candidates__name">
                    Bruno Covas | PSDB | Concorre a Prefeito(a)
                  </p>
                  <p class="candidates__info">
                    Quantia recebida R$ 0,00 30% do total Previsto foram de doações de pessoas físicas.
                  </p>
                  <a href="tse" class="button">{{ i18n "seeOnTSE" }}</a>
                </div>
              </div>
            {{ end }}

            <button class="button button--big">{{ i18n "seeMore" }}</button>
          </div>



          <div class="partners">
            <h2>{{ i18n "partnersAndOrganizations" }}</h2>
            <img src="https://www.placecage.com/400/300" alt="">
            <img src="https://www.placecage.com/400/300" alt="">
            <img src="https://www.placecage.com/400/300" alt="">
            <img src="https://www.placecage.com/400/300" alt="">
          </div>
        </div>
      </main>

      {{ partial "footer.html" . }}


      <script>
        {{ $filters := getJSON "https://dev-h72-api.appcivico.com/v1/filters" }}
        window.appFilters = {{ $filters.filters }};
      </script>

      {{ partial "scripts.html" . }}

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/series-label.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/export-data.js"></script>
      <script src="https://code.highcharts.com/modules/accessibility.js"></script>
      <script>
        Highcharts.chart('js-main-chart', {

          title: {
            text: 'Repasses Realizados'
          },

          subtitle: {
            text: 'Estes dados são com base no sistema oficial do TSE.'
          },

          yAxis: {
            title: {
              text: null
            }
          },

          xAxis: {
            accessibility: {
              rangeDescription: 'Range: 2010 to 2017'
            }
          },

          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
          },

          plotOptions: {
            series: {
              label: {
                connectorAllowed: false
              },
              pointStart: 2010
            }
          },

          series: [{
            name: 'Masculino',
            data: [43934, 52503, 60000, 70000]
          }, {
            name: 'Feminino',
            data: [24916, 24064, 25000, 40000]
          }, {
            name: 'Total',
            data: [7000, 7500, 85000, 110000]
          }],

          responsive: {
            rules: [{
              condition: {
                maxWidth: 500
              },
              chartOptions: {
                legend: {
                  layout: 'horizontal',
                  align: 'center',
                  verticalAlign: 'bottom'
                }
              }
            }]
          }

        });
      </script>

    </body>
</html>
